<div id='leftcolumn'>
    {{ name|raw }}
    {{ source|raw }}
    {{ medium|raw }}
</div>

<div id='rightcolumn'>
    {{ keyword|raw }}
    {{ content|raw }}
    {{ combinedSourceMedium|raw }}
</div>
